<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--以上是固定必须的！-->

    <meta content="ESJY 主页" name="description"/>
    <meta content="ESJY 主页" name="keywords"/>
    <meta content="index,follow" name="robots"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>晖昌通 -主页</title>


    <!--<link rel="stylesheets" href="/bootstrap/css/bootstrap.css">-->
    <link rel="stylesheet" href="/stylesheets/aboutLtd.css">

    <!--jquery-->
    <script src="/jquery-3.2.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>


    <!--[if IE 9]>
    <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
    <script src="/html5shiv.min.js"></script>
    <script src="/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=V5wC3GB8lDcOzuSyjqgFihciqfTVsImy"></script>


</head>
<body>

<!--//导航部分-->
<!--@@include("header.html")-->

<%- include nav %>

<!--//主体内容-->
<main>
    <!--//轮播图-->
    <div class="aboutLtd">
        <div class="Splash-content">
            <div class="Splash-title">
                <p>顺利地解除公司注销困扰，11111快速专业的服务</p>
                <p>顺利地解除公司注销困扰，快速专业的服务</p>
            </div>
        </div>
    </div>

    </div>
    <!--员工介绍-->
    <div class="esjy-Staff container">
        <div class="esjy-Staff-bg row">
            <div class="introduce col-xs-12 col-sm-4 col-md-4 clo-lg-4">
                <h3>我们的员工</h3>
                <p>我们的服务理念是以最低的价位、提供最优质的服务,
                    代理建帐、记帐报税、纳税筹划节俭技巧、提供合理的避税方案、协助办理审计、整理乱帐、合理避税、
                    担任常年税务、会计顾问，提供会计、税务咨询服务,为企业提供财务报表分析等</p>
            </div>
            <!--右侧图片-->
            <div class="staffs col-xs-12 col-sm-8 col-md-8 col-lg-8">

                <!--行2-1-->
                <div class="row">
                    <div class="one-man col-xs-6 col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y1.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y2.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y1.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y1.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                </div>

                <!--行2-2-->
                <div class="row">
                    <div class="one-man col-xs-6 col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y2.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y1.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>

                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y2.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                    <!--8-->
                    <div class="one-man col-xs-6  col-sm-3">
                        <h3>
                            <a class="url" href="/">
                                <img src="/images/hct/Huichangtong-assets/y1.jpg" alt="">
                                <span class="fn">name</span>
                            </a>
                        </h3>
                        <p><span class="role">经理, </span><span class="org">财务部</span></p>
                    </div>
                </div>

            </div>

            <!--<div class="test1">ddd</div>-->
        </div>

        <!--</div>-->
    </div>

    <!--    地图-->
    <div class="map-col container">

        <div class="map-row row">
            <div class="map-baidu col-sx-12 col-sm-8">
                <div id="allmap" class="map-baidu-content"></div>
            </div>
            <div class="map-tel col-sx-12 col-sm-4">
                <h4>北京晖昌通企业咨询有限公司</h4>
                <ol>
                    <li>建外SOHO8号楼1111号</li>
                    <li>东三环</li>
                    <li>北京</li>
                </ol>
                <p class="tel">电话：010-878888888</p>
                <p class="web">www.huichagntong.com</p>
            </div>
        </div>

    </div>













</main>


<script>
    var acolor = document.getElementById('aboutLtd');
    acolor.style.color = "#dee558";
</script>

<script src="/javascripts/baidu-map.js"></script>


</body>
</html>