<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <meta name="apple-touch-fullscreen" content="YES">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!--以上是固定必须的！-->

  <meta content="ESJY 主页" name="description"/>
  <meta content="ESJY 主页" name="keywords"/>
  <meta content="index,follow" name="robots"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>外资注册</title>


  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">

  <link rel="stylesheet" href="/stylesheets/foreign.css">

  <!--jquery-->
  <script src="/jquery-3.2.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>


  <!--[if IE 9]>
  <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
  <script src="/html5shiv.min.js"></script>
  <script src="/respond.js"></script>
  <![endif]-->

  <!--velocity-->
  <script src="/velocity/velocity.min.js"></script>
  <script src="/velocity/velocity.ui.min.js"></script>

</head>
<body>

<!--//导航部分-->
<%- include nav %>

<!--//主体内容-->
<main>
  <!--//轮播图-->
  <div class="Splash  article-col clearfix">
    <div class="Splash-content">

    </div>
  </div>
  <!--轮播图-end-->

  <div class="esjy-col-1 container">

    <!--1，外资证明——Begin-->
    <div class=" showFile row clearfix">
      <!--0-->
      <div class="showFile_title esjy-card col-sx-12 col-sm-3 col-md-3 col-lg-3">

        <div class="padding">
          <div class="title">
            <p>外国股东</p>
            <p>身份和资金证明文件：</p>
          </div>
        </div>
      </div>

      <!--1-->
      <div class="esjy-card col-sx-12 col-sm-3 col-md-3 col-lg-3">

        <div class="padding">
          <div class="card_image">
            <img class="esjy_resize" alt="">
          </div>

          <div class="card_content">
            <h4>个人股东</h4>
            <p>股东护照：要有进出中国的出入境记录</p>
            <p>香港人、澳门人：需要提供股东的港澳通行证</p>
            <p>台湾人：需要提供股东的台胞证</p>
            <!--<h4>银行资信证明</h4>-->
            <p>银行资信证明：由个人的银行开具</p>
          </div>
        </div>
      </div>

      <!--2-->
      <div class="esjy-card col-sx-12 col-sm-3  col-md-3 col-lg-3">

        <div class="padding">

          <div class="card_image">
            <img class="esjy_resize" alt="">

          </div>
          <div class="card_content">

            <h4>企业股东</h4>
            <p>公司法定公证证明文件书以及中文翻译件<i>(需要到企业所在国的中国使领馆公证及认证)</i></p>

            <p>台湾企业：需要去当地法院做公证并提供公证证明文件</p>
            <p>香港企业：需要通过“中国法律服务（香港）有限公司”做公证并提供证明文件</p>
            <!--<h4>银行资信证明</h4>-->
            <p>银行资信证明：由企业的银行开具</p>
          </div>
          <!--<div class="card_bottom">-->
          <!--<p>立刻咨询<i class="fa fa-empire fa-2x"></i></p>-->
          <!--</div>-->

        </div>
      </div>

    </div>


    <!--2 客户-->
    <div class="customer row clearfix">
      <div class="person col-sx-12 col-sm-12 col-md-6 col-lg-6">
        <h4 class="say">"我们快速的打开了中国市场，让更多的人喜欢上了我们的产品"</h4>
        <p class="position">***亚洲区，产品经理，</p>
      </div>
      <div class="bigWord  col-sx-12 col-sm-6 col-md-3 col-lg-3">
        <P class="bigWord_1">FAFA;LFJALFfafaflfjaljf;alfjaslfj;alsjf;aslkfj;</P>
        <img class="bigWord_img" src="/images/hct/Huichangtong-assets/values3x.png" alt="">
        <p class="bigWord_2">falfjalffafasfjkasjff</p>
      </div>
      <div class="smallWord smallWord-up col-sx-12 col-sm-6 col-md-3 col-lg-3">
        <P class="smallWord_up1">FAFA;LFJALFfjaslfj;alsjf;aslkfj;</P>
        <img class="smallWord_img_up" src="/images/hct/Huichangtong-assets/values10percent.png" alt="">
        <p class="smallWord_up2">falfjalffafasfjkasjffdaAS?F?kals;fjla</p>
      </div>
      <div class="smallWord smallWord-down col-sx-12 col-sm-6 col-md-3 col-lg-3">
        <P class="smallWord_down1">FAFA;LFJALFfafaflfjaljf;alfjaslfj;alsjf;aslkfj;</P>
        <img class="smallWord_img_down" src="/images/hct/Huichangtong-assets/values9percent.png" alt="">
        <p class="smallWord_down2">falfjalffafasfjka</p>
      </div>

    </div>


    <!--3, 外资注册步骤——Begin-->
    <!--1-4-->
    <div class=" foreignFlow row hidden-xs  clearfix">

      <!--0-->
      <div class="foreign_title esjy-card col-sx-6 col-sm-4 col-md-4 col-lg-4">

        <div class="padding">
          <div class="title">
            <h3>外资企业注册流程</h3>
            <p>外fasfalsfjas</p>

          </div>
        </div>
      </div>

      <!--1-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign col-sx-hidden">
            <img class="esjy_resize_foreign " alt="" src="/images/hct/Huichangtong-assets/icon_02.png">
          </div>
          <div class="card_content">
            <h5>第一步</h5>
            <p>名称核准</p>
          </div>
        </div>
      </div>

      <!--2-->
      <div class="foreign_step esjy-card col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
          </div>
          <div class="card_content">
            <h5>第二步</h5>
            <p>发改委审批</p>
          </div>
        </div>
      </div>


      <!--3-->
      <div class="foreign_step esjy-card col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
          </div>
          <div class="card_content">
            <h5>第三步</h5>
            <p>技术监督局办理组织机构代码赋码</p>
          </div>
        </div>
      </div>


      <!--4-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_03.png">
          </div>
          <div class="card_content">
            <h5>第四步</h5>
            <p>商务委员会审批</p>
          </div>
        </div>
      </div>


    </div>
    <!--5-8-->
    <div class=" foreignFlow row hidden-xs  clearfix">
      <!--00---->
      <div class="foreign_title esjy-card  col-sm-4 col-md-4 col-lg-4">

        <div class="padding">
          <!--<div class="title">-->
          <!--<h3>外国股东</h3>-->
          <!--<h3>身份和资金证明文件：</h3>-->
          <!--</div>-->
        </div>
      </div>

      <!--5-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
          </div>
          <div class="card_content">
            <h5>第五步</h5>
            <p>申请审批证书</p>
          </div>
        </div>
      </div>

      <!--6-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_05.png">
          </div>
          <div class="card_content">
            <h5>第六步</h5>
            <p>工商执照审批</p>
          </div>
        </div>
      </div>

      <!--7-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_06.png">
          </div>
          <div class="card_content">
            <h5>第七步</h5>
            <p>刻制印章备案</p>
          </div>
        </div>
      </div>

      <!--8-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_07.png">
          </div>
          <div class="card_content">
            <h5>第八步</h5>
            <p>办理组织机构代码证</p>
          </div>
        </div>
      </div>


    </div>

    <!--9-12-->
    <div class=" foreignFlow row hidden-xs clearfix">
      <!--000-->
      <div class="foreign_title esjy-card col-sx-12 col-sm-4 col-md-4 col-lg-4">

        <div class="padding">
          <!--<div class="title">-->
          <!--<h3>外国股东</h3>-->
          <!--<h3>身份和资金证明文件：</h3>-->

          <!--</div>-->
        </div>
      </div>

      <!--9-->
      <div class="foreign_step esjy-card  col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
          </div>
          <div class="card_content">
            <h5>第九步</h5>
            <p>税务局</p>
          </div>
        </div>
      </div>


      <!--10-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_09.png">
          </div>
          <div class="card_content">
            <h5>第十步</h5>
            <p>统计局</p>
          </div>
        </div>
      </div>

      <!--11-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_10.png">
          </div>
          <div class="card_content">
            <h5>第十一步</h5>
            <p>外汇管理局申请外汇登记卡</p>
          </div>
        </div>
      </div>

      <!--12-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
          </div>
          <div class="card_content">
            <h5>第十二步</h5>
            <p>设立资本金账户</p>
          </div>
        </div>
      </div>


    </div>

    <!--12-14-->
    <div class=" foreignFlow row hidden-xs clearfix">

      <!--0-->
      <div class="foreign_title esjy-card col-sx-12 col-sm-4 col-md-4 col-lg-4">

        <div class="padding">

        </div>
      </div>

      <!--13-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
          </div>
          <div class="card_content">
            <h5>第十三步</h5>
            <p>设立企业基本账户</p>
          </div>
        </div>
      </div>


      <!--14-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_02.png">
          </div>
          <div class="card_content">
            <h5>第十四步</h5>
            <p>财政登记</p>
          </div>
        </div>
      </div>

      <!--15-->
      <div class="foreign_step esjy-card col-sx-12 col-sm-2 col-md-2 col-lg-2">

        <div class="padding">
          <div class="card_image_foreign">
            <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
          </div>
          <div class="card_content">
            <h5>第十五步</h5>
            <p>海关备案</p>
          </div>
        </div>
      </div>

    </div>


    <!--mob!!!!!-->
    <div class="foreignFlow mob-col  visible-xs clearfix">

      <div class="foreign_title esjy-card col-sx-6">

        <div class="padding">
          <div class="title">
            <h3>外资企业注册流程</h3>
            <p>外fasfalsfjas</p>
          </div>
        </div>
      </div>


      <div class="row">

        <!--1-->
        <div class="foreign_step esjy-card col-xs-4 ">

          <div class="padding">
            <div class="card_image_foreign col-sx-hidden">
              <img class="esjy_resize_foreign " alt="" src="/images/hct/Huichangtong-assets/icon_02.png">
            </div>
            <div class="card_content">
              <h5>第一1111步</h5>
              <p>核111名</p>
            </div>
          </div>
        </div>
        <!--2-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
            </div>
            <div class="card_content">
              <h5>第二步</h5>
              <p>发改委审批</p>
            </div>
          </div>
        </div>
        <!--3-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_03.png">
            </div>
            <div class="card_content">
              <h5>第三步</h5>
              <p>技术监督局办理组织机构代码赋码</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!--4-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
            </div>
            <div class="card_content">
              <h5>第四步</h5>
              <p>商务委员会审批</p>
            </div>
          </div>
        </div>

        <!--5-->
        <div class="foreign_step esjy-card col-xs-4 ">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_05.png">
            </div>
            <div class="card_content">
              <h5>第五步</h5>
              <p>申请审批证书</p>
            </div>
          </div>
        </div>

        <!--6-->
        <div class="foreign_step esjy-card col-xs-4 ">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_06.png">
            </div>
            <div class="card_content">
              <h5>第六步</h5>
              <p>工商执照审批</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <!--7-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_07.png">
            </div>
            <div class="card_content">
              <h5>第七步</h5>
              <p>刻制印章备案</p>
            </div>
          </div>
        </div>

        <!--8-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
            </div>
            <div class="card_content">
              <h5>第八步</h5>
              <p>办理组织机构代码证</p>
            </div>
          </div>
        </div>

        <!--9-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_09.png">
            </div>
            <div class="card_content">
              <h5>第九步</h5>
              <p>税务局</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!--10-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_10.png">
            </div>
            <div class="card_content">
              <h5>第十步</h5>
              <p>统计局</p>
            </div>
          </div>
        </div>

        <!--11-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
            </div>
            <div class="card_content">
              <h5>第十一步</h5>
              <p>外汇管理局申请外汇登记卡</p>
            </div>
          </div>
        </div>
        <!--12-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_04.png">
            </div>
            <div class="card_content">
              <h5>第十二步</h5>
              <p>设立资本金账户</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row clearfix">

        <!--13-->
        <div class="foreign_step esjy-card col-xs-4 ">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_02.png">
            </div>
            <div class="card_content">
              <h5>第十三步</h5>
              <p>设立企业基本账户</p>
            </div>
          </div>
        </div>

        <!--14-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
            </div>
            <div class="card_content">
              <h5>第十四步</h5>
              <p>财政登记</p>
            </div>
          </div>
        </div>

        <!--15-->
        <div class="foreign_step esjy-card col-xs-4">

          <div class="padding">
            <div class="card_image_foreign">
              <img class="esjy_resize_foreign" alt="" src="/images/hct/Huichangtong-assets/icon_01.png">
            </div>
            <div class="card_content">
              <h5>第十五步</h5>
              <p>海关备案</p>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!--foreignFlow_End -->


    <!--count_Begin-->

    <div class="count row">

      <div class="col-12-12">
        <img src="/images/hct/Huichangtong-assets/triangle.png" class="tragle_count">
        <h2>已成功代办外资企业</h2>
        <p>外商独资，中外合资，外资办事处</p>
        <p>统计我们服务过的企业和机构数量</p>
      </div>

      <!--1,国家-->
      <div class="esjy-col-4 col-sx-12 col-sm-6 col-md-3 col-lg-3">

        <div class="esjy-circle-dashed  ">
          <div class="esjy-circle ">
            <p><span id="country_span">0</span><br>国家</p>
          </div>
        </div>
      </div>

      <!--2 公司-->
      <div class="esjy-col-4 col-sx-12 col-sm-6 col-md-3 col-lg-3">

        <div class="esjy-circle-dashed  ">
          <div class="esjy-circle ">
            <p><span id="company_span">0</span><br>公司</p>
          </div>

        </div>

      </div>
      <!--3， 客户-->
      <div class="esjy-col-4 col-sx-12 col-sm-6 col-md-3 col-lg-3">

        <div class="esjy-circle-dashed  ">
          <div class="esjy-circle ">
            <p><span id="customer_span">0</span><br>客户</p>
          </div>

        </div>

      </div>

      <!--4， 业务-->
      <div class="esjy-col-4 col-sx-12 col-sm-6 col-md-3 col-lg-3">

        <div class="esjy-circle-dashed  ">
          <div class="esjy-circle ">
            <p><span id="business_span">0</span><br>涉外业务种类</p>
          </div>
        </div>
      </div>
    </div>

    <!--count_End-->


  </div>

  <!--五，联系我们——Begin-->
  <!--联系我们的展开页面——Begin-->
  <%- include contactBtn %>

</main>


<script>
  var acolor = document.getElementById('foreignHtml');
  acolor.style.color = "#dee558";
</script>
<script src="/javascripts/foreign.js"></script>


</body>
</html>