<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--以上是固定必须的！-->

    <meta content="ESJY 主页" name="description"/>
    <meta content="ESJY 主页" name="keywords"/>
    <meta content="index,follow" name="robots"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>首页</title>


    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">

    <!--jquery-->
    <script src="/jquery-3.2.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <!--[if IE 9]>
    <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
    <script src="/html5shiv.min.js"></script>
    <script src="/respond.js"></script>
    <![endif]-->

  <link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>

<!--//导航部分-->
<%- include nav %>

<!--//主体内容-->
<main>
    <!--//轮播图-->
    <div class="Splash  article-col clearfix">
        <div class="Splash-content">

        </div>
    </div>
    <!--轮播图-end-->

    <div class="esjy-col-1 container">

      <!--分割线-->
        <div class="esjy-rule"></div>

        <!--1，注销公司——Begin-->
        <div class=" logoutFlow row clearfix">

            <!--0-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">

                <div class="padding">
                    <div class="title">
                        <h3>注销公司</h3>
                    </div>
                </div>
            </div>

            <!--1-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">

                <div class="padding">

                    <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>注销流程</h4>
                        <p>。。。。。。。。。。。。。。。。。。。。</p>
                    </div>
                    <div class="card_bottom">
                        <a>查看注销公司详细步骤   <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">

                <div class="padding">

                  <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>所需准备的材料<br></h4>
                        <p>。。。。。。。。。。。。。。</p>

                    </div>
                    <div class="card_bottom">
                        <a>查看详细材料内容 <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="padding">
                    <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>如何才是彻底注销完成？<br></h4>
                        <p>。。。。。。。。。。。。。。。。。。。</p>
                    </div>
                    <div class="card_bottom">
                        <a>查看详细   <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!--2，外资注册-->
        <div class=" article-category row clearfix" id="foreign">

            <!--wz-0-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">

                <div class="padding">
                    <div class="title">
                        <h3>外资注册</h3>
                        <h4 class="link">查看外资股东身份和资金证明   <i class="fa fa-long-arrow-right "></i></h4>
                        <h4 class="link">查看更多外资业务 <i class="fa fa-long-arrow-right "></i></h4>

                    </div>
                </div>
            </div>
            <!--wz-1-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="padding">
                    <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>外资注册流程</h4>
                        <p>。。。。。。。。。。。。。。。。</p>
                    </div>
                    <div class="card_bottom">
                        <a>查看更多   <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>
            <!--wz-2-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="padding">

                    <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>成功办理的外资企业类型</h4>
                        <p>。。。。。。。。。。。。。。。。。。。。。。<br>。。。。。。。</p>
                    </div>
                    <div class="card_bottom">
                        <a>。。。。。。。。   <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>
            <!--wz-3-->
            <div class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="padding">

                    <div class="card_image">
                        <img class="esjy_resize" alt="">
                    </div>
                    <div class="card_content">
                        <h4>外资注册国家规定</h4>
                        <p>。。。。。。。。。。。。。。。。。<br>。。。。。。。</p>
                    </div>
                    <div class="card_bottom">
                        <a>。。。。。。。。   <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                </div>
            </div>

        </div>

        <!--3，资质审批-->
        <div class=" qualifications row clearfix">
            <!--qua-0-->
            <div id="qua_title" class="esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <h3>资质审批</h3>
                <a >查看更多 <i class="fa fa-long-arrow-right "></i></a>
            </div>
            <!--qua-1-->
            <div class="qualifications_card esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card-s_image">
                    <img class="esjy-s_resize" alt="">
                </div>

                <div class="card-s_content ">
                    <h4>资质</h4>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                </div>
                <div class="card-s_bottom">
                    <p>立刻咨询<i class="fa fa-empire fa-2x"></i></p>
                </div>
            </div>
            <!--qua-2-->
            <div class="qualifications_card esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card-s_image">
                    <img class="esjy-s_resize" alt="">
                </div>

                <div class="card-s_content ">
                    <h4>资质</h4>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                </div>
                <div class="card-s_bottom">
                    <p>立刻咨询<i class="fa fa-empire fa-2x"></i></p>
                </div>
            </div>
            <!--qua-3-->
            <div class="qualifications_card esjy-card col-sx-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card-s_image">
                    <img class="esjy-s_resize" alt="">
                </div>
                <div class="card-s_content ">
                    <h4>资质</h4>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                    <p>djfa;lfjalfjalflasfjlaksfsa</p>
                </div>
                <div class="card-s_bottom">
                    <p>立刻咨询<i class="fa fa-empire fa-2x"></i></p>
                </div>
            </div>
        </div>


        <!--4，文章链接-->
        <div class="articles">

          <div class="article-content article-left">
            <div class="article_title">
              <h4>最新国家政策</h4>
              <a>了解相关法规，更好有效到解决您到问题</a>
            </div>
          </div>

          <div class="articles-right">
            <div class="container">
              <div class="article-content row">

                <%if(rs.length > 0){%>

                <%for (var i = 0; i < rs.length; i++) { %>

                <div class="article col-sx-12 col-sm-4 col-md-4 col-lg-4">
                  <a href="/">
                    <h4><%= rs[i]['titleLabel'] %></h4>
                    <p><%= rs[i]['title'] %><i class="fa fa-long-arrow-right "></i></p>
                  </a>
                </div>
                <%}%>

                <%}%>
              </div>
            </div>
          </div>

        </div>


    </div>
</main>

<script>
  var acolor = document.getElementById('articles');
  acolor.style.color = "#dee558";
</script>
</body>
</html>