<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--以上是固定必须的！-->

    <meta content="ESJY 主页" name="description"/>
    <meta content="ESJY 主页" name="keywords"/>
    <meta content="index,follow" name="robots"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>晖昌通 -注销公司</title>


    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/logoutFlow.css">

    <!--jquery-->
    <script src="/jquery-3.2.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>


    <!--[if IE 9]>
    <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
    <script src="/html5shiv.min.js"></script>
    <script src="/respond.js"></script>
    <![endif]-->
</head>
<body>

<!--//导航部分-->
<%- include nav %>

<main>
    <!--轮播图-->
    <div class="Splash">
        <div class="Splash-content clearfix">
            <div class="Splash-title">
                <p>快速专业的服务</p>
                <p>顺利地解除公司注销困扰，快速专业的服务</p>
            </div>
        </div>
    </div>

    <!--注销流程开始-->
    <div class="esjy-columns Cols-event container clearfix">
        <!--第一步——Begin-->
        <div class="Cols-event-row row">
            <div class="EventCard  col-xs-12 col-sm-6" id="logout_flow">
                <h1>第一步:注销公司国税、地税登记证</h1>
                <p class="EventCard-detaill">所需材料：<br>
                    1，国税、地税正副本、 <br>
                    2，本年度汇算清缴报告<br>
                    3，注销报告<br>
                    4，填写税务注销表格（如果有未用发票要先核销）<br>
                </p>
                <div class="Event-excute container">
                    <div class="Event-excute-row row">
                        <div class="Tierone col-sm-6 col-xs-12">
                            <i class="fa fa-calendar-check-o fa-2x"></i>
                            <i>30天</i>
                        </div>
                        <div class="TierTow col-sm-6 col-xs-12">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <i>北京</i>
                        </div>
                    </div>

                </div>

                <table class="Price">
                    <tbody>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">内资企业</td>
                        <td class="Tier-cell">¥500</td>
                    </tr>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">外资企业</td>
                        <td class="Tier-cell">¥1500</td>
                    </tr>
                    </tbody>
                </table>
                <a class="contactBtn" href="/">立刻咨询流程细节</a>
            </div>
            <div class="EventPicture col-xs-12 col-sm-6"></div>
        </div>
        <!--第一步——End-->
        <!--第二步——Begin-->
        <div class="Cols-event-row row">
            <div class="EventCard  col-xs-12 col-sm-6">
                <h1>第二步:到工商局办理《公司注销备案》</h1>
                <p class="EventCard-detaill">所需材料：<br>
                    1，公司营业执照复印件、 <br>
                    2，公司董事会或股东会决议复印件<br>
                    3，公司原始档案<br>
                    4，到工商局领取表格<br>
                    （可以和第一步同时办理）<br>
                </p>
                <div class="Event-excute container">
                    <div class="Event-excute-row row">
                        <div class="Tierone col-sm-6 col-xs-12">
                            <i class="fa fa-calendar-check-o fa-2x"></i>
                            <i>30天</i>
                        </div>
                        <div class="TierTow col-sm-6 col-xs-12">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <i>北京</i>
                        </div>
                    </div>

                </div>

                <table class="Price">
                    <tbody>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">内资企业</td>
                        <td class="Tier-cell">¥500</td>
                    </tr>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">外资企业</td>
                        <td class="Tier-cell">¥1500</td>
                    </tr>
                    </tbody>
                </table>
                <a class="contactBtn" href="/">立刻咨询流程细节</a>
            </div>
            <div class="EventPicture col-xs-12 col-sm-6"></div>
        </div>
        <!--第二步——End-->
        <!--第三步——Begin-->
        <div class="Cols-event-row row">
            <div class="EventCard  col-xs-12 col-sm-6">
                <h1>第三步:登报公告</h1>
                <p class="EventCard-detaill">所需材料：<br>
                    1，公司营业执照复印件、 <br>
                    2，公司董事会或股东会决议复印件<br>
                    3，法定代表人身份证复印件<br>
                    4，公告的内容<br>
                </p>
                <div class="Event-excute container">
                    <div class="Event-excute-row row">
                        <div class="Tierone col-sm-6 col-xs-12">
                            <i class="fa fa-calendar-check-o fa-2x"></i>
                            <i>30天</i>
                        </div>
                        <div class="TierTow col-sm-6 col-xs-12">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <i>北京</i>
                        </div>
                    </div>

                </div>

                <table class="Price">
                    <tbody>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">内资企业</td>
                        <td class="Tier-cell">¥500</td>
                    </tr>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">外资企业</td>
                        <td class="Tier-cell">¥1500</td>
                    </tr>
                    </tbody>
                </table>
                <a class="contactBtn" href="/">立刻咨询流程细节</a>
            </div>
            <div class="EventPicture col-xs-12 col-sm-6"></div>
        </div>
        <!--第三步——End-->
        <!--第四步——Begin-->
        <div class="Cols-event-row row">
            <div class="EventCard  col-xs-12 col-sm-6">
                <h1>第四步:工商局办理注销申请</h1>
                <p class="EventCard-detaill">所需材料：<br>
                    1，公司营业执原件（正副本）、 <br>
                    2，税务注销证明文件<br>
                    3，公司股东会决议<br>
                    4，公司清算报告<br>
                    5，工商局领取的表格<br>
                    6，公司原始档案<br>

                </p>
                <div class="Event-excute container">
                    <div class="Event-excute-row row">
                        <div class="Tierone col-sm-6 col-xs-12">
                            <i class="fa fa-calendar-check-o fa-2x"></i>
                            <i>30天</i>
                        </div>
                        <div class="TierTow col-sm-6 col-xs-12">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <i>北京</i>
                        </div>
                    </div>

                </div>

                <table class="Price">
                    <tbody>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">内资企业</td>
                        <td class="Tier-cell">¥500</td>
                    </tr>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">外资企业</td>
                        <td class="Tier-cell">¥1500</td>
                    </tr>
                    </tbody>
                </table>
                <a class="contactBtn" href="/">立刻咨询流程细节</a>
            </div>
            <div class="EventPicture col-xs-12 col-sm-6"></div>
        </div>
        <!--第四步——End-->
        <!--第五步——Begin-->
        <div class="Cols-event-row row">
            <div class="EventCard  col-xs-12 col-sm-6">
                <h1>第五步:注销代码证</h1>
                <p class="EventCard-detaill">所需材料：<br>
                    1，公司执照注销证明文件 <br>
                    2，代码证原件（正副本）<br>
                </p>
                <div class="Event-excute container">
                    <div class="Event-excute-row row">
                        <div class="Tierone col-sm-6 col-xs-12">
                            <i class="fa fa-calendar-check-o fa-2x"></i>
                            <i>30天</i>
                        </div>
                        <div class="TierTow col-sm-6 col-xs-12">
                            <i class="fa fa-bullseye fa-2x"></i>
                            <i>北京</i>
                        </div>
                    </div>
                </div>
                <table class="Price">
                    <tbody>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">内资企业</td>
                        <td class="Tier-cell">¥500</td>
                    </tr>
                    <tr class="Price-Tier">
                        <td class="Tier-cell">外资企业</td>
                        <td class="Tier-cell">¥1500</td>
                    </tr>
                    </tbody>
                </table>
                <a class="contactBtn" href="/">立刻咨询流程细节</a>
            </div>
            <div class="EventPicture col-xs-12 col-sm-6"></div>
        </div>
        <!--第五步——End-->
    </div>
    <!--注销流程结束-->


    <!--流程图-->
    <!--<div class=" ">-->
        <div class="esjy-columns esjy-flow container " id="flow_image">
             <div class=" esjy-flow-col row">
                    <!--图片-->
                    <div class="flow-img hidden-xs hidden-sm col-md-4 col-lg-4"></div>
                    <!--文字-->
                    <div class="flow-intro col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <!--标题-->
                        <div class="flow-intro-title ">
                            <h2>您需要提供的资料</h2>
                            <h4>晖昌通提供"全代理注销流程"专人，专项服务快捷通道</h4>

                        </div>

                        <!--详细-->
                        <div class="flow-intro-detail ">
                            <ul class="flwo-intro-detail-ul">
                                <li>营业执照正、副本</li>
                                <li>公章</li>
                                <li>公司章程修正案（公司法定代表人签署）</li>
                                <li>验资证明</li>
                                <li>公司变更，登记申请书</li>
                                <li>公司股东（发起人）出资情况表</li>
                            </ul>
                        </div>
                        <h4>晖昌通 推出的“注销通道”服务，通过业务人员与客户沟通后，直接到工商受理。</h4>
                        <!--电话号码-->
                        <div class="flow-call">
                            <p class="flow-call-deatil">
                                <span class="call-title"><i class="fa fa-phone fa-lg"></i>立即咨询专家</span>
                                <a href="tel:13910825707" class="call-number">010-878081881</a>

                            </p>
                        </div>

                    </div>

                </div>
        </div>
    <!--</div>-->

    <div class="test"></div>


</main>

<script>
    var acolor = document.getElementById('logout');
    acolor.style.color= "#dee558";
</script>
</body>
</html>