<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
<header class="Header clearfix" role="banner">
    <div class="Header-brand  clearfix">
        <a class="pc-logo hidden-xs" href="/">
            <img class="Header-logo img-responsive" src="/images/hct/Huichangtong-assets/hct_logo_heng.jpg" alt="HCT">
        </a>

        <a class="mob-logo visible-xs"id="articles" href="/">
            <img class=" " src="/images/hct/Huichangtong-assets/hct_logo_mob.jpg" alt="">
        </a>
    </div>
    <nav class="Header-middle Navigation">
        <ul class="Navigation-list">
            <li class="Navigation-item"><a id="logout" href="/logoutFlow" class="Navigation-link" data-menutype="megamenu">注销公司</a></li>
            <li class="Navigation-item"><a id="foreignHtml" href="/foreign" class="Navigation-link" data-menutype="null">外资注册</a></li>
            <li class="Navigation-item"><a id="organisationLogout" href="/orgLog/:typeid=3" class="Navigation-link" data-menutype="null">资质审批</a></li>
            <li class="Navigation-item"><a id="article-page" href="/articlePage" class="Navigation-link" data-menutype="null">相关法规</a></li>
            <li class="Navigation-item"><a id="aboutLtd" href="/about" class="Navigation-link" data-menutype="null">关于我们</a></li>
        </ul>
    </nav>
</header>
</body>
</html>