<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
  <meta name="apple-touch-fullscreen" content="YES">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!--以上是固定必须的！-->

  <meta content="ESJY 主页" name="description"/>
  <meta content="ESJY 主页" name="keywords"/>
  <meta content="index,follow" name="robots"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>注销机构</title>


  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">


  <!--jquery-->
  <script src="/jquery-3.2.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>


  <!--[if IE 9]>
  <script type="text/javascript" src="/jquery-1.12.4.min.js"></script>
  <script src="/html5shiv.min.js"></script>
  <script src="/respond.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/stylesheets/organisationLogout.css">

</head>
<body>

<!--//导航部分-->
<%- include nav %>

<main>


  <!--//一，轮播图-->
  <div class="Splash">
    <div class="Splash-content">
      <div class="Splash-title">
        <p>顺利地解除公司注销困扰快速专业的服务</p>
        <p>顺利地解除公司注销困扰，快速专业的服务</p>
      </div>
    </div>
  </div>

  <!--//二，常见注销问题——Begin-->
  <div class="esjy-columns">
    <div class="esjy-col-1-1 esjy-center">
      <h1>相关行业的国家规定</h1>
    </div>
  </div>
  <div class="esjy-columns clearfix">
    <div class="esjy-col-1-1 container ">
      <div class="row orgnasition-link ">


        <!--todo:获取typeid=3的文章标题列表，并且点击到相对应到文章页面-->
        <div class="esjy-col-4-1 col-xs-12 col-sm-4">
          <ul class="esjy-link-list">
            <li><a href="/"><i class="fa fa-long-arrow-right "></i>电子与智能化工程专业承包资质</a></li>

          </ul>
        </div>

      </div>
    </div>

  </div>
  <!--//常见注销问题——End-->


  <!--三，注销机构分类_BEGIN-->
  <div class="esjy-columns">
    <div class="esjy-col-1-1 esjy-center">
      <h1>专业办理</h1>
    </div>
  </div>
  <div class="esjy-columns">
    <div class="esjy-col-1-1 container pro-col">
      <div class="row">
        <div class="esjy-card  col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="thumbnail esjy-white-40 esjy-card-3-1">
            <img class="card-image" src="/images/hct/Huichangtong-assets/yuzhou.jpg" alt="">
            <div class="caption card-content">
              <h3 class="text-strong">安全生成许可证</h3>
              <p class="text-bigger">..........</p>
              <p class="text-bigger "> 咨询热线：400-810-1818 转 5086</p>
            </div>
            <div class="card-bottom">
              <button class="btn btn-success">qukk</button>
              <!--<button class="btn btn-info">info</button>-->
            </div>
          </div>
        </div>

        <div class="esjy-card  col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="thumbnail esjy-white-30 esjy-card-3-1">
            <img class="card-image" src="/images/hct/Huichangtong-assets/yuzhou.jpg" alt="">
            <div class="caption card-content">
              <h3 class="text-strong">建筑工程施工总承包资质</h3>
              <p class="text-bigger">........</p>
              <p class="text-bigger "> 咨询热线：400-810-1818 转 5089</p>
            </div>
            <!--<div class="card-bottom">-->
            <!--<button class="btn btn-success">qukk</button>-->
            <!--<button class="btn btn-info">info</button>-->
            <!--</div>-->
          </div>
        </div>
        <div class="esjy-card  col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="thumbnail esjy-white-40 esjy-card-3-1">
            <img class="card-image" src="/images/hct/Huichangtong-assets/yuzhou.jpg" alt="">
            <div class="caption card-content">
              <h3 class="text-strong">机电工程总承包资质</h3>
              <p class="text-bigger">工商行政管理机关依法吊销营业执照和企业申请注销登记是市场主体退出市场的两种方式，
                尽管两者均导致企业法人资格的消亡，但其法律后果却大不相同。</p>
              <p class="text-bigger ">吊销 咨询热线：400-810-1818 转 5086</p>
            </div>
            <!--<div class="card-bottom">-->
            <!--<button class="btn btn-success">qukk</button>-->
            <!--<button class="btn btn-info">info</button>-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--注销机构分类_END-->


  <!--四，图片——Begin-->
  <div class="esjy-columns">
    <div class="esjy-col-1-1 esjy-center">
      <h1>我们办理成功的行业</h1>
    </div>
  </div>
  <!--3行图片交错展示-->
  <div class="esjy-columns">
    <div class="esjy-col-1-1 container">
      <!--第1行图片——Bengin-->
      <div class="row">
        <div id="c1" class="esjy-col-4-1 esjy-nospacing esjy-pic col-xs-12 col-sm-12 col-md-6">
          <a class="esjy-padding-content" href="/">
            <h4>连线“赢”行家<br>
              —认知时代银行数字化重塑智库
            </h4>
            <p>连线赢行家为您提供近 30位银行业资深专家，在数字化转型、人工智能、区块 链、新一代核心系统、风险合规、金融云等诸多行业热门领域为您与您的银行
            </p>
            <p>ppp</p><br>
            <p><span>了解更多</span></p>
          </a>
        </div>
        <div id="c2" class="esjy-col-4-1 esjy-nospacing esjy-pic col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a class="esjy-padding-content" href="/">
            <h4>引领企业数字化重塑</h4>
            <p>IBM 数字化平台解决方案白皮书</p>
            <p><span>立即查看</span></p>
          </a>
        </div>
        <div id="c3" class="esjy-col-4-1 esjy-nospacing esjy-pic col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a class="esjy-padding-content" href="/">
            <h4>解决方案</h4>
            <p>2017年 IBM 零售业解决方案指南 </p>
            <p><span>了解更多信息</span></p>
          </a>
        </div>
      </div>
      <!--第1行图片——End-->

      <!--第2，3行图片-Bengin-->
      <div class="row complex">
        <!--第一行——Bengin-->
        <div class="esjy-col-4-1 complexOne esjy-nospacing esjy-pic col-xs-12 col-sm-3">
          <div class="row complexOne-one">
            <div id="c4" class="col-xs-12 col-sm-12">
              <a class="esjy-padding-content" href="/">
                <h4>c6</h4>
                <p>IBM</p>
                <p><span>立即查看</span></p>
              </a>
            </div>
            <div id="c5" class="col-xs-12 col-sm-12">
              <a class="esjy-padding-content" href="/">
                <h4>6c66</h4>
                <p>IBM</p>
                <p><span>立即查看</span></p>
              </a>
            </div>
          </div>

        </div>
        <!--第一行——END-->
        <!--第二行——Begin-->
        <div class="esjy-col-4-1 complexTwo esjy-nospacing esjy-pic col-xs-12 col-sm-3">
          <div class="row complexTwo-one">
            <div id="c6" class="col-xs-12 col-sm-12">
              <a class="esjy-padding-content" href="/">
                <h4>c6</h4>
                <p>2017年 IBM 零售业解决方案指南 </p>
                <p><span>了解更多信息</span></p>
              </a>
            </div>
            <div id="c7" class="col-xs-12 col-sm-12">
              <a class="esjy-padding-content" href="/">
                <h4>7c7</h4>
                <p>2017年 IBM 零售业解决方案指南 </p>
                <p><span>了解更多信息</span></p>
              </a>
            </div>
          </div>
        </div>
        <!--第二行——End-->
        <!--第三行-Begin-->
        <div class="esjy-col-4-1 complexThree esjy-nospacing esjy-pic col-xs-12 col-sm-6">
          <div class="row complexThree-one">
            <div id="c8" class="col-xs-12 col-sm-12">
              <a class="esjy-padding-content" href="/">
                <h4>c8<br>
                  —认知时代银行数字化重塑智库
                </h4>
                <p>连线赢行家为您提供近 30位银行业资深专家，在数字化转型、人工智能、区块 链、新一代核心系统、风险合规、金融云等诸多行业热门领域为您与您的银行
                </p>
                <p>ppp</p><br>
                <p><span>了解更多</span></p>
              </a>

            </div>

          </div>

        </div>
        <!--第三行_End-->
      </div>
      <!--第2，3行图片-End-->
    </div>
  </div>
  <!--图片——End-->

  <!--五，联系我们——Begin-->
  <!--联系我们的展开页面——Begin-->
  <%- include contactBtn %>


</main>

<script>
  var acolor = document.getElementById('organisationLogout');
  acolor.style.color = "#dee558";
</script>
<script src="/javascripts/organisationLogout.js"></script>


</body>
</html>


