<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <script src="/protojs/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/jquery-3.2.1.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheet/index00.css">

  <!--<script src="protojs/socket.io.js"></script>-->

  <!--velocity-->
  <!--<script src="../velocity/velocity.min.js"></script>-->
  <!--<script src="../velocity/velocity.ui.min.js"></script>-->
  <script>
    var socket = io.connect('http://localhost:3003');


    $(function () {

      iosocket = io.connect('http://localhost:3003/');


      // iosocket.on('personNo',function (personNo) {
      //   console.log(personNo);
      //   var newli =$("<li class=\"personN\"></li>").html(
      //     " <div class=\"face\"></div>\n" +
      //     "        <div class=\"personInfo\">\n" +
      //     "            <p class=\"lastwords hidde\" >last words</p>\n" +
      //     "            <p class=\"saying\"> '+ personNo +'</p>\n" +
      //     "        </div>\n" +
      //     "        <p class=\"del\"> X </p>"
      //   )
      //
      //   $('.personList').prepend(newli);
      //
      // })


      //显示对方正在输入到内容：
      iosocket.on('msging',function (data) {

        var lastchat1 = $('#chat1:last');
        var i = document.createElement('i');
        lastchat1.empty();
        i.innerHTML = data;
        $(i).appendTo(lastchat1);
      });

      $('#b').on('click',function () {

        //取消正在输入的li
        $('#chat1').attr('id',"");
        //清楚input内容
        $('#t').val('');
        //添加新的正在输入的li
        $('#chatUl').append('<li id="chat1" class="chat"></li>');

      })
    })

  </script>


</head>
<body>
<div class="esjy-col">

  <div class="container">
    <div class="row">
      <div class="person col-5">
        <div class="search">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="搜索文章标题" aria-label="Recipient's username"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">查找</button>
            </div>
          </div>
        </div>

        <div class="main">
          <ul class="personList">

           <% rs.forEach(function (row) {  %>


            <li  class="personNO">
              <div class="face"><%=row['consultId']%> </div>
              <div class="personInfo" >
                <p class="lastwords hidde" ><%=row['consultTime']%></p>
                <p class="saying"> <%=row['socketId']%></p>
              </div>
              <p class="del"> X </p>
            </li>

            <% }) %>


          </ul>
        </div>

      </div>
      <div class="chat-col col-7">
        <div class="chatContent">
          <ul id="chatUl">
            <li id="chat0" class="chat">
            <i id="name">sisy</i>
             <i id="timer">12:30:30</i>
              <p id="content">The first line</p>
            </li>
            <li id="chat1" class="chat"></li>
            <!--<li id="chat1" class="chat active">zhengzai..</li>-->


          </ul>
        </div>

        <input type="text" name="" id="t">
        <button id="b">发送</button>

        <!--<form class="sendMessage" autocomplete="off" method="post" action="./send">-->
          <!--<input id="m" type="text"><button>Send</button>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>


</body>
</html>