<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <!--<script src="/protojs/socket.io.js"></script>-->
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/jquery-3.2.1.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/chat.css">

  <!--<script src="protojs/socket.io.js"></script>-->

  <!--velocity-->
  <!--<script src="../velocity/velocity.min.js"></script>-->
  <!--<script src="../velocity/velocity.ui.min.js"></script>-->
  <script>
    // var socket = io.connect('http://localhost:3000');

    var consult = io.connect('http://localhost:3003/consult')
      , news = io.connect('http://localhost:3003/news');

    consult.on('connect', function () {
      consult.emit('hi!');
      console.log("consultconsultconsult.ejs....");
      
      consult.on('a message',function (data) {
        console.log(data.that);
      })
      
      
      
      
    });

    news.on('news', function () {
      news.emit('woot');
    });


    console.log("chhadhfkajflas;lfj");

  </script>
</head>
<body>


<div class="chat-col col-7">
  <div class="chatContent">
    <ul id="chatUl">
      <li id="chat0" class="chat">
        <i id="name">sisy</i>
        <i id="timer">12:30:30</i>
        <p id="content">The first line</p>
      </li>
      <li id="chat1" class="chat"></li>
      <!--<li id="chat1" class="chat active">zhengzai..</li>-->

    </ul>
  </div>

  <input type="text" name="" id="t">
  <button id="b">发送</button>
</div>

<script src="/javascripts/chat.js"></script>
</body>
</html>