@charset "utf-8";
@media (min-width: 320px) {
  html {
    font-size: 4.48px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 5.04px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 5.25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 5.376px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 5.6px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 5.796px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 5.936px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 6.72px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 7.56px;
  }
}
@media (min-width: 580px) {
  html {
    font-size: 8.12px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 8.96px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 10.08px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 13.44px;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 15.12px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17.92px;
  }
}
@media (min-width: 1480px) {
  html {
    font-size: 20.72px;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a {
  color: #323232;
}
li {
  list-style: none;
}
main {
  width: 100%;
  position: relative;
  float: left;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 992px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 1200px) {
  main {
    top: -4rem;
  }
}
.Splash {
  position: relative;
  height: 20rem;
}
.Splash .Splash-content {
  height: 100%;
  background-color: #e3e3e3;
}
.Splash .Splash-content .Splash-title {
  color: black;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.Splash {
  position: relative;
  height: 20rem;
}
.Splash .Splash-content {
  height: 100%;
  background: url("../images/hct/zizhi.jpg");
}
.Splash .Splash-content .Splash-title {
  color: black;
}
.esjy-col-1-1 {
  width: 100%;
}
.esjy-col-1-1 h1 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.orgnasition-link {
  padding: 0 3rem 0 8rem;
}
.esjy-col-4-1 {
  position: relative;
  float: left;
  padding: 0 2rem;
}
.esjy-col-4-1 ul {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}
.esjy-col-4-1 ul li {
  margin: 1rem 0;
  text-align: left;
  line-height: 8rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  .esjy-col-4-1 ul li {
    line-height: 2rem;
  }
}
@media (min-width: 992px) {
  .esjy-col-4-1 ul li {
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .esjy-col-4-1 ul li {
    line-height: 1.6rem;
  }
}
.esjy-col-4-1 ul li a {
  color: #3b6caa;
  font-size: 1.2em;
  text-indent: -2rem;
}
.esjy-col-4-1 ul li a i {
  color: #3b6caa;
}
.pro-col {
  width: 100%;
}
.pro-col .row {
  padding-left: 2rem;
  padding-right: 2rem;
}
.esjy-card .thumbnail {
  height: 80rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  .esjy-card .thumbnail {
    height: 30rem;
  }
}
@media (min-width: 992px) {
  .esjy-card .thumbnail {
    height: 25rem;
  }
}
@media (min-width: 1200px) {
  .esjy-card .thumbnail {
    height: 25rem;
  }
}
.esjy-card .esjy-white-30 {
  background-color: #f0f2f4;
}
.esjy-card .esjy-white-40 {
  background-color: #ecf2f2;
}
.esjy-card .esjy-card-3-1 {
  position: relative;
  float: left;
  border-radius: 0;
  padding: 0;
}
.esjy-card .esjy-card-3-1 .card-image {
  position: relative;
  float: left;
}
.esjy-card .esjy-card-3-1 .card-content {
  position: relative;
  float: left;
  text-align: left;
  padding: 0 2rem;
}
.esjy-card .esjy-card-3-1 .card-content h3 {
  width: 100%;
  position: relative;
  float: left;
}
.esjy-card .esjy-card-3-1 .card-content p {
  width: 100%;
  position: relative;
  float: left;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.esjy-card .esjy-card-3-1 .card-bottom {
  position: relative;
  float: left;
  background-color: greenyellow;
}
.esjy-pic {
  display: block;
  transition: border .2s, background .2s, color .2s;
  cursor: pointer;
  border-color: #fdfdfd;
  vertical-align: baseline;
}
.esjy-pic:hover {
  border-color: #3b6caa;
}
.esjy-pic a {
  height: 100%;
  color: #fff;
  text-align: left;
  display: block;
  text-decoration: none;
}
.esjy-pic a:hover {
  color: #fff;
}
.esjy-pic a h4 {
  font-weight: 600;
  display: block;
}
.esjy-pic a p {
  font-size: 1.2em;
  font-weight: 400;
}
#c1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/hct/Huichangtong-assets/c1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c1:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hct/Huichangtong-assets/c1.png");
}
@media (min-width: 768px) {
  #c1 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c1 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c1 {
    height: 22rem;
  }
}
#c2 {
  background-color: #3b6caa;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  height: 30rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c2:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
@media (min-width: 768px) {
  #c2 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c2 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c2 {
    height: 22rem;
  }
}
#c3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/hct/Huichangtong-assets/c3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c3:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hct/Huichangtong-assets/c3.jpg");
}
@media (min-width: 768px) {
  #c3 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c3 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c3 {
    height: 22rem;
  }
}
#c4 {
  position: relative;
  float: left;
  display: inline-block;
  background-color: #3b6caa;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  height: 30rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c4:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
@media (min-width: 768px) {
  #c4 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c4 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c4 {
    height: 22rem;
  }
}
#c5 {
  position: relative;
  float: left;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/hct/Huichangtong-assets/c1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c5:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hct/Huichangtong-assets/c1.png");
}
@media (min-width: 768px) {
  #c5 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c5 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c5 {
    height: 22rem;
  }
}
#c6 {
  background-color: #3b6caa;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  height: 30rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c6:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
@media (min-width: 768px) {
  #c6 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c6 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c6 {
    height: 22rem;
  }
}
#c7 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/hct/Huichangtong-assets/c1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c7:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hct/Huichangtong-assets/c1.png");
}
@media (min-width: 768px) {
  #c7 {
    height: 24rem;
  }
}
@media (min-width: 992px) {
  #c7 {
    height: 24rem;
  }
}
@media (min-width: 1200px) {
  #c7 {
    height: 22rem;
  }
}
#c8 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../images/hct/Huichangtong-assets/c8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#c8:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hct/Huichangtong-assets/c8.jpg");
}
@media (min-width: 768px) {
  #c8 {
    height: 48rem;
  }
}
@media (min-width: 992px) {
  #c8 {
    height: 48rem;
  }
}
@media (min-width: 1200px) {
  #c8 {
    height: 44rem;
  }
}
.complex {
  padding-left: 0;
  padding-right: 0;
}
.complex .complexOne {
  padding-left: 0;
  padding-right: 0;
}
.complex .complexTwo {
  padding-left: 0;
  padding-right: 0;
}
.complex .complexThree {
  padding-left: 0;
  padding-right: 0;
}
.esjy-tools-Circle {
  position: relative;
  float: left;
  display: block;
}
.esjy-tools-Circle .tool-toTop {
  position: fixed;
  display: block;
  background-color: #ececec;
  border: 1px solid #fff;
  border-radius: 50%;
  bottom: 60px;
  right: -50px;
  color: #000;
  height: 50px;
  width: 50px;
  will-change: transform;
}
.esjy-tools-Circle .tool-toTop:hover {
  background-color: #000;
}
.esjy-tools-Circle .tool-toTop:hover i {
  color: #eee;
}
.esjy-tools-Circle .tool-toTop i {
  width: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  float: left;
  top: -3px;
}
.esjy-contact-btn-pc {
  background: #f77832 none repeat scroll 0 0;
  border: 0;
  width: 56px;
  height: 140px;
  display: block;
  position: fixed;
  right: 0;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 300;
  top: 35%;
}
.esjy-contact-btn-mob {
  background: #f77832 none repeat scroll 0 0;
  border: 0;
  width: 146px;
  height: 50px;
  display: block;
  position: fixed;
  right: 0;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 300;
  bottom: 0;
}
.esjy-contact-widget {
  bottom: -270px;
  height: 270px;
  width: 100%;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #aeaeae;
  right: 0;
  position: fixed;
  z-index: 9;
  padding: 15px 10px 0 20px;
  background-color: #FFF !important;
}
@media (min-width: 768px) {
  .esjy-contact-widget {
    width: 360px;
    height: 270px;
    top: 20%;
    right: -380px;
  }
}
@media (min-width: 992px) {
  .esjy-contact-widget {
    width: 360px;
    height: 270px;
    top: 20%;
    right: -380px;
  }
}
@media (min-width: 1200px) {
  .esjy-contact-widget {
    width: 360px;
    height: 270px;
    top: 20%;
    right: -380px;
  }
}
.esjy-contact-widget .esjy-icononly {
  width: 100%;
  height: 40px;
  box-shadow: inset 0 -1px 0 0 #e0e0e0;
  line-height: 40px;
  position: relative;
  float: left;
  margin-bottom: 5px;
}
.esjy-contact-widget .esjy-icononly h3 {
  line-height: 40px;
  position: relative;
  float: left;
  margin: 0;
}
.esjy-contact-widget .esjy-icononly i {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.esjy-contact-widget .esjy-contact-list {
  line-height: 20px;
  font-weight: 500;
}
.esjy-contact-widget .esjy-contact-list li {
  display: table;
  position: relative!important;
  vertical-align: baseline;
  width: 100%;
  font-size: 16px;
  box-shadow: inset 0 -1px 0 0 #e0e0e0;
}
.esjy-contact-widget .esjy-contact-list li i {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-right: 5px;
}
.esjy-contact-widget .esjy-contact-list li:last-child {
  box-shadow: 0 0 0 ;
}
.esjy-contact-list .esjy-chat {
  width: 100%;
}
.esjy-contact-list .esjy-chat a {
  display: block;
  width: 100%;
  height: 100%;
}
.esjy-contact-list .esjy-chat a h4 {
  margin-bottom: 5px;
}
.esjy-contact-list .esjy-chat a p {
  line-height: 18px;
  margin-left: 29px;
}
.esjy-contact-list .esjy-call {
  padding: 5px 0 5px 0;
}
.esjy-contact-list .esjy-microcode {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
}
.esjy-contact-list .esjy-microcode a {
  display: block;
  margin-top: 5px;
}
.esjy-contact-list .esjy-microcode button {
  border: 0;
  width: 50px;
  height: 50px;
  margin-left: 80px;
  margin-top: 5px;
  background: url("../images/hct/Huichangtong-assets/WX.png");
  background-size: 100% 100%;
}
.esjy-addWechat-lg-img .modal-lg {
  width: 700px;
  height: 700px;
}
.esjy-addWechat-lg-img .modal-lg .modal-content {
  border-radius: 0;
}
